
.btn-primary {
  background-color: #2cc3d5 !important;
  border-color: #2cc3d5 !important;
}
.btn-success {
  background-color: #4dcb7b !important;
  border-color: #4dcb7b !important;
}
.btn-danger {
  background-color: #F16587 !important;
  border-color: #F16587 !important;
}